.result {
  .bg-title {
    background-color: var(--title-background-color-2);
    .img_1 {
      margin-top: -15px;
      width: 36px;
      height: 36px;
      color: var(--title-text-font-color);
    }
  }

  > .content {
    background-color: var(--color-background-color);
    padding: 20px 36px;
    height: 92.8vh;
   
  }

}