/** 布局  **/
.flex-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

//垂直排列
.box-vertical {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}

.flex-1 {
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  overflow: hidden;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
}

@media only screen and (min-width: 1000px) {

  .user-manage-pcview,
  .pcAppMain {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;

    .user-manage-pcview {
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      overflow: hidden;
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
    }
  }

  .user-manage-view {

    .dev,
    .el-table__inner-wrapper,
    &>.el-table {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;

      .el-table__body-wrapper {
        overflow: auto !important;
      }

      .el-table__header-wrapper {
        flex-shrink: 0;
      }
    }

    .el-table__inner-wrapper {
      background: #fefefe;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .el-table__header-wrapper {
    tr {
      th.el-table-fixed-column--right {
        position: inherit !important;
      }
    }
  }

  .el-table__body-wrapper {
    tr {
      td.el-table-fixed-column--right {
        position: inherit !important;
      }
    }
  }
}

.el-table {
  .el-scrollbar__bar {
    display: block !important;
    opacity: 1 !important;
  }
}

.noRequired {
  .el-form-item__error {
    display: none !important;
  }

  .el-input__inner,
  input {
    box-shadow: 0 0 0 1px #dcdfe6 inset !important;
  }
}

.blue {
  color: #409eff;
}

.cursor {
  cursor: pointer;
}

.fz14 {
  font-size: 14px;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.wv100 {
  width: 100px !important;
}

.wv150 {
  width: 150px !important;
}

.minH70 {
  min-height: 70px;
}

.maxH200 {
  max-height: 200px;
}

.overAuto {
  overflow: auto;
}

.f14 {
  font-size: 14px;
}

.cursor {
  cursor: pointer;
}

.cursor-blue {
  &:hover {
    color: #409eff;
  }
}

.green {
  color: #67c23a !important;
}

.red {
  color: #f56c6c !important;
}

.cl666 {
  color: #666;
}

.cl999 {
  color: #999;
}

.tc {
  text-align: center;
}

.w100 {
  width: 100%;
}

.orange {
  color: orange !important;
}

.el_img {
  border: 1px solid #eee;
}

.el-table {
  table {
    tr {
      th {
        color: #666;
        text-align: center;
        background: #f5f5f5 !important;
      }

      .el-table__cell {
        text-align: center;
      }
    }
  }
}

.el-popper {
  max-width: 800px;
}

.el-input.el-input--suffix {
  .el-input__inner {
    padding-right: 38px !important;
  }
}

.user-manage-scrollview {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    // 定义了滚动条整体的样式；
    width: 5px;
    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: #e4e4e4;
    // 滑块部分
    border-radius: 2.5px;
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2.5px;
    // 轨道部分
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.1);
  }
}

.div_scrollbar {
  &::-webkit-scrollbar {
    // 定义了滚动条整体的样式；
    width: 5px;
    /* 高宽分别对应横竖滚动条的尺寸 */
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #e4e4e4;
    // 滑块部分
    border-radius: 2.5px;
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2.5px;
    // 轨道部分
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.1);
  }
}