@import './common.scss';
#app {
  height: 100%;
}
// van
.van-image__error, .van-image__loading{
  background: transparent !important;
}
.noLoadingAndError{
  .van-image__error, .van-image__loading{
    display: none;
  }
}
.van-back-top{
  width: 80px !important;
  height: 80px !important;
  min-width: 80px !important;
  min-height: 80px !important;
  .van-icon{
    font-size: 32px !important;
  }
}
// icon 2023/12/19
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('@/assets/icon/iconfont.ttf?t=1702953359576') format('truetype');
}
.iconfont{
  font-family:iconfont!important;
  font-size:36px;
  height: 36px;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
//
//
//重构=>对照表
.icon-bar-home:before,
.icon-bar-Home:before,
.icon-Home:before{content:"\e615"}
.icon-bar-FT:before,
.icon-FT:before{content:"\e60f"}
.icon-bar-TN:before,
.icon-TN:before{content:"\e60e"}
.icon-bar-OP_BM:before,
.icon-OP_BM:before{content:"\e60c"}
.icon-bar-BK:before,
.icon-BK:before{content:"\e60d"}
.icon-sports:before{content:"\e616"}
.icon-live:before{content:"\e614"}
.icon-bar-sportlive:before,
.icon-bar-live:before{content:"\e60a"}
//
//
// 默认=>icon=>对照表
.icon-a-americanfootball:before{content:"\e601"}
.icon-boxing:before{content:"\e602"}
.icon-hockey:before{content:"\e603"}
.icon-cricket:before{content:"\e604"}
.icon-football:before{content:"\e605"}
.icon-baseball:before{content:"\e606"}
.icon-handball:before{content:"\e607"}
.icon-gaming:before{content:"\e608"}
.icon-a-beachvolleyball:before{content:"\e609"}
.icon-live-icon-1:before{content:"\e60a"}
.icon-pingpong:before{content:"\e60b"}
.icon-a-yumaoqiu-icon-1:before{content:"\e60c"}
.icon-a-lanqiu-icon-1:before{content:"\e60d"}
.icon-a-wangqiu-icon-1:before{content:"\e60e"}
.icon-zuqiu-icon-1:before{content:"\e60f"}
.icon-a-indoorsoccer:before{content:"\e610"}
.icon-snooker:before{content:"\e611"}
.icon-volleyball:before{content:"\e612"}
.icon-a-waterpolo:before{content:"\e613"}
.icon-a-dashibei-icon-22x:before{content:"\e614"}
.icon-a-shouyeicon2x:before{content:"\e615"}
.icon-a-tiyu-icon-12x:before{content:"\e616"}
//
//
// home page
.homeMatchHandicap{
  color: #1f2630;
  .home-tabs-play{
    height: 68px;
    display: flex;
    align-items: center;
    .time{
      font-size: 24px;
      color: #000;
      font-weight: 500;
    }
    .play{
      flex:1;
      display: flex;
      align-items: center;
      .btn{
        border-radius: 8px;
        font-size: 24px;
        background: #eff2f2;
        color: #1f2630;
        width:110px;
        height:40px;
        text-align: center;
        margin-right:8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &.active{
          background: #7642FD;
          color: #FFFFFF;
        }
        &:last-child{
          margin-right:0;
        }
      }
    }
  }
  .home-match{
    // header
    .up-match__header{
      margin: 0 13px;
      padding: 20px 0;
    }
    .match-info{
      display: flex;
    }
    .match-team-logo{
      width: 72px;
      height: 72px;
      position: relative;
      margin-left: 5px;
      img{
        width: 48px;
        height: 48px;
        position: absolute;
      }
      .home {
        left: 0;
        top: 0;
        z-index: 1;
      }
      .away {
        right: 0;
        bottom: 0;
        z-index: 0;
      }
    }
    .match-info__content{
      margin-left: 10px;
      flex: 1;
      .team{
        display: flex;
        .match-team-name{
          font-size: 28px;
          color: #1F2630;
          font-weight: 600;
        }
      }
      .up-match-league{
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #546371;
        padding-top: 5px;
        .iconfont {
          font-size: 24px;
          height: auto;
          font-weight: 100;
        }
        .text{
          margin-left: 5px;
        }
      }
      .up-match-time{
        font-size: 24px;
        color: #546371;
      }
    }
    //
    //
    // end header
    // footer
    .match-footer{
      height: 68px;
      display: flex;
      border-radius: 0 0 24px 24px;
      .match-footer__item{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-right: 1px solid #eff1f2;
        color: #546371;
        &:last-child{
          border-right: 0;
        }
        span{
          font-size: 24px;
          line-height: 24px;
        }
       .num {
          font-size: 24px;
          margin-left: 8px;
        }
        .arrow{
          font-weight: 600;
          color: #96a5aa;
          margin-left: 10px;
        }
      }
    }
    //
    //
    // end footer
    // body
    .up-match {
      background-color: #eff2f2;
      border-top-left-radius: 26px;
      border-top-right-radius: 26px;
      overflow: hidden;
      font-family: SF-Pro-Bold,PingFangSC-Semibold,MicrosoftYahei-Bold,system-ui;
      font-weight: 800;
    }
    .up-match__footer{
      border:  1px solid #eff2f2;
      border-bottom-left-radius: 26px;
      border-bottom-right-radius: 26px;
    }
    .border-bottom{
      border-bottom: 1px solid #dee2e6!important;
    }
    .match-betting-item{
      margin-top: 20px;
      .flex-cross-center{
        .van-icon{
          font-weight: 100;
          color: #96a5aa;
        }
      }
    }
    .match-betting-item__title{
      margin: 10px 20px;
      font-size: 24px;
      line-height: 24px;
      color: #546371;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .betting-option {
      position: relative;
      display: flex;
      flex-direction:column;
      flex: 1;
      padding: 10px 5px 18px;
      background-color: #ffffff;
      border-radius: 20px;
      overflow: hidden;
      text-align: center;
      .up-betting-name{
        margin-bottom: 6px;
        span{
          line-height: 24px;
          font-size: 24px;
          color: #546371;
        }
      }
      .details{
        .item{
          line-height: 26px;
          font-size: 26px;
          color: #000000;
        }
      }
    }
    .betting-select__list{
      width: 100%;
      display: flex;
      grid-gap: 20px;
      padding: 0 20px;
      box-sizing: border-box;
    }
    .up-match__body{
      padding-bottom: 20px;
    }
    //
    //
    // end body
    // live
    .match-info-live__header{
      margin: 0 13px;
      padding: 20px 0;
      color: #546371;
      .up-match-league {
        display: inline-flex;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
        padding: 0 20px;
      }
      .up-match-time{
        font-size: 24px;
        line-height: 26px;
        padding: 10px 20px 0;
        .iconfont {
          font-size: 26px !important;
          color: #7642fe;
          font-weight: 100;
        }
      }
    }
    .up-match-score{
      margin: 0 13px;
      padding: 20px 0;
      .item{
        display: flex;
        align-items: center;
        .img{
          width: 48px;
          height: 48px;
        }
        .name{
          line-height: 24px;
          font-size: 24px;
          flex: 1;
          margin-left: 20px;
        }
        .value {
          width: 60px;
          height: 40px;
          border-radius: 13px;
          background-color: #f7f8f8;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: #1f2630;
        }
      }
    }
    
  }
}
.Button-MatchMore{
  color: #7642FD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  span{
    font-size: 24px;
  }
}
.Hot-Match-Group{
  display: flex;
  overflow: auto;
  min-height: 176px;
  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
  img{
    width: 200px;
    height: 176px;
    min-width: 200px;
    display: block;
    flex-shrink: 1;
    border-radius: 26px;
    background: #eff2f2;
  }
  & > .van-image{
    width: 200px;
    height: 176px;
    flex-shrink: 1;
    margin-right: 20px;
    .van-image__error{
      width: 200px;
      height: 176px;
      overflow: hidden;
      position: relative;
    }
  }
  &.noData{
    justify-content: center;
    align-items: center;
  }
}
.Recommend-Match-Tabs{
  display: flex;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
  .SportsButton{
    margin-right: 16px;
    flex-shrink: 1;
    white-space:nowrap;
    &:last-child{
      margin-right: 0;
    }
    .iconfont{
      position: relative;
    }
    &.OP_BM{
      .iconfont{
        top: 2px;
      }
    }
  }
}
.betting-option-wrap {
  display: inline-block;
  &.selected{
    background-color: #7642fd !important;
    .up-betting-name{
      .text{
        color: rgba(255, 255, 255, .8) !important;
      }
    }
    .details{
      .item{
        color: #fff !important;
      }
    }
  }
}
//end home page
