// 默认紫色版本
:root {
  --color-primary: #7642fe;
  --color-linear-gradient-1: #7642fe;
  --color-linear-gradient-2: #7541FD;
  --color-bg-1: #7642FD;
  --color-text-1: #546371;
}
// 蓝色版本
:root[theme='blue'] {
  --color-primary: #48A3FF;
  --color-linear-gradient-1: #48A3FF;
  --color-linear-gradient-2: #2C88E5;
  --color-bg-1: #488DD2;
  --color-text-1: #56809F;
}

