// 默认紫色版本
:root {
  --color-primary: #7642fe;
  --color-linear-gradient-1: #7642fe;
  --color-linear-gradient-2: #7541FD;
  --color-bg-1: #7642FD;
  --color-text-1: #546371;
  --color-linear-gradient-background-title-1: #181f2a;
  --color-linear-gradient-background-title-2: #2a0572;
  --color-background-color: #F4F5FA;
  ;
}
// 蓝色版本
:root[theme='blue'] {
  --color-primary: #48A3FF;
  --color-linear-gradient-1: #48A3FF;
  --color-linear-gradient-2: #2C88E5;
  --color-bg-1: #488DD2;
  --color-text-1: #56809F;
  --color-linear-gradient-background-title-1: #FFFFFF;
  --color-linear-gradient-background-title-2: #FFFFFF;
  --color-background-color: #FFFFFF;

}

