// 默认紫色版本
:root {
  --color-primary: #7642fe;
  --color-linear-gradient-1: #7642fe;
  --color-linear-gradient-2: #7541fd;
  --color-bg-1: #7642fd;
  --color-text-1: #546371;

  --color-linear-gradient-background-title-1: #181f2a;
  --color-linear-gradient-background-title-2: #2a0572;
  --color-background-color: #FFFFFF;
  // --color-background-color: #f4f5fa;

  --color-linear-gradient-tag-1: #d700ff;
  --color-linear-gradient-tag-2: #af00ff;

  // 搜索页面
  --color-search-box: #EFF1F2;
  --color-search-box-text: #7642FD;
  --color-search-box-text-1: #1F2630;
  --color-search-box-frame: #EFF1F2;
  --color-search-box-text-2: #96A5AA;
  // 侧边栏
  --color-search-box-sidebar: #E5ECF3;
  --color-search-box-sidebar-1: #7642FD;
  --color-search-box-sidebar-2: #491CAB;
  --color-sidebar-font: #FFFFFF;
  // 未查到相关数据
  --color-no-data-font: #96A5AA;
  // 消息
  --color-notice-title-1: #181F2A;
  --color-notice-title-2: #260B62;
  --van-text-color:#FFFFFF;
  --van-primary-color:#FFFFFF;
  --van-background-2:#260B62;
  // 结果
  --van-result-box:#EFF1F2;
  --van-result-box-1:#E2E6E8;
  // 个人中心
  --color-linear-gradient-user-info-1: #181f2a;
  --color-linear-gradient-user-info-2: #2a0572;

}
// 蓝色版本
:root[theme='blue'] {
  --color-primary: #48A3FF;
  --color-linear-gradient-1: #48A3FF;
  --color-linear-gradient-2: #2C88E5;
  --color-bg-1: #488DD2;
  --color-text-1: #56809F;

  --color-linear-gradient-background-title-1: #FFFFFF;
  --color-linear-gradient-background-title-2: #FFFFFF;
  --color-background-color: #F4F5FA;
  // --color-background-color: #ffffff;

  --color-linear-gradient-tag-1: #00c8ff;
  --color-linear-gradient-tag-2: #006bff;

  // 搜索页面
  --color-search-box: #DDEFFC;
  --color-search-box-text: #56809F;
  --color-search-box-text-1: #0E3D66;;
  --color-search-box-frame: #FFFFFF;
  --color-search-box-text-2: #88A6BB;
  //侧边栏
  --color-search-box-sidebar: #F4F5FA;
  --color-search-box-sidebar-1: #F4F5FA;
  --color-search-box-sidebar-2: #F4F5FA;
  --color-sidebar-font: #0E3D66;
   // 未查到相关数据
   --color-no-data-font: #88A6BB;
   // 消息
  --color-notice-title-1: #181F2A;
  --color-notice-title-2: #260B62;
  --van-text-color:#56809F;
  --van-primary-color:#56809F;
  --van-background-2:#FFFFFF;
   // 结果
   --van-result-box:#FFFFFF;
   --van-result-box-1:#F4F5FA;
    // 个人中心
  --color-linear-gradient-user-info-1: #0A2E9B;
  --color-linear-gradient-user-info-2: #4B75FF;



  --color-linear-gradient-tag-1: #00c8ff;
  --color-linear-gradient-tag-2: #006bff;
}
